  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.background {
    background: dimgray;
    color: yellow;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    color: dimgrey;
    font-weight: 1000;
    padding: 10px;
}
.gameSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.503);
}
#board {
    width: 402px;
    height: 402px;
    border: 1px solid;
    margin: 30px 0;
}
#pieces-grid {
    width: 402px;
    height: 402px; 
    border: 1px solid;
    text-align: center;
    position: relative;
}

#start,#reset {
    margin: 30px 0;
    border-radius: 3px;
    border: none;
    background-color: yellow;
    color: gray;
    width: 100px;
    height: 60px;
}
#reset {
    display: none;
}
.piece {
    width: 100px;
    height: 100px;
    border: 1px solid;
    background-image: url(images/dbz.jpg);
    float: left;
    background-repeat: no-repeat;

}
.piece:hover {
    background-color: yellow;
}
#start,#reset:hover {
    color: yellow;
    background-color: dimgray;
    border: 1px solid yellow;
}
/*
@media only screen and (max-width: 700px){
    #board {
        width: 202px;
        height: 202px;
        border: 1px solid;
        margin: 30px 0;
    }
    #pieces-grid {
        width: 202px;
        height: 202px; 
        border: 1px solid;
        text-align: center;
        position: relative;
    }
    .piece {
        width: 50px;
        height: 50px;
        border: 1px solid;
        background-image: url(images/dbz.jpg);
        float: left;
        background-repeat: no-repeat;
    }



}*/
    

